*{
    padding: 0;
    margin: 0;
}

.container-fluid{
    margin-top: 60px;
}

.filter-buttons{
    position: relative;
}

.filter-buttons::-webkit-scrollbar{
    display: none;
}

.btn-control{
    height: 30px;
    width: 30px;
    background-color: white !important;
    border-radius: 50% !important;
}

.btn-control:active{
    background-color: rgb(221, 219, 219) !important;
    border: 1px solid rgb(172, 171, 171) !important;
}

#prev{
    position: fixed;
    padding: 3px 0px;
    left: 5%;
    box-shadow: 24px -2px 59px 48px rgba(255,255,255,1);
    -webkit-box-shadow: 24px -2px 59px 45px rgba(255,255,255,1);
    -moz-box-shadow: 24px -2px 59px 45px rgba(255,255,255,1);
}

#next{
    position: fixed;
    padding: 3px 0px;
    right: 0;
    box-shadow: -24px -2px 59px 48px rgba(255,255,255,1);
    -webkit-box-shadow: -24px -2px 59px 48px rgba(255,255,255,1);
    -moz-box-shadow: -24px -2px 59px 48px rgba(255,255,255,1);
}

.btn-sm{
    background-color: whitesmoke !important;
    border-radius: 25px !important;
    border: 1px solid rgb(172, 171, 171) !important;
}

.btn-sm:hover{
    background-color: rgb(224, 220, 220) !important;
}

.btn-sm:focus{
    background-color: black !important;
    color: white !important;
    box-shadow: none !important;
}